<div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 border border-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th
            *ngFor="let col of getDisplayedColumns()"
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            {{ col.label }}
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let row of data">
          <td *ngFor="let col of getDisplayedColumns()  " class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            {{ row[col.key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  