-      <app-submit-form
-          [mode]="mode"
-          [submissionId]="submissionId"
-          [currentDraft]="currentDraft"
-          [relatedTopicPitchId]="relatedTopicPitchId"
-          (toastMessage)="onToastMessage($event)"
-          (formSubmitted)="onFormSubmitted()"
-          (draftSaved)="onDraftSaved($event)"
-          (cancelled)="onFormCancelled()">
-        </app-submit-form>
+      <app-submit-form
+          [mode]="mode"
+          [submissionId]="submissionId"
+          [existingData]="loadedSubmission"
+          [currentDraft]="currentDraft"
+          [relatedTopicPitchId]="relatedTopicPitchId"
+          (toastMessage)="onToastMessage($event)"
+          (formSubmitted)="onFormSubmitted()"
+          (draftSaved)="onDraftSaved($event)"
+          (cancelled)="onFormCancelled()">
+        </app-submit-form>